<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://use.fontawesome.com/7fdf876c24.js"></script>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Orbitron:700&display=swap" rel="stylesheet">
    <title>Cyber Knights</title>

    <script>
        function getSite()
        {
            var x = document.getElementById("result");
            // x.innerHTML = {{status}};
            x.style.backgroundColor = "#000";
            return false;
        } 
    </script>
    
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <script>
        $('#year').text(new Date().getFullYear())
    </script>

</head>
<body>

    <div class="dark-overlay">
        <div class="parent-div">
            <div class="background">
                <div class="container d-block">
                    <div class="row">
                        <div class="col text-center">
                            <p class="display-4 header p-5">CYBER KNIGHTS</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">    
                            <div class="logo">
                                <img src="static/img/logo.png" width =200 height = 200  alt="not found!!!">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control form-control-sm m-4" type="text" placeholder="Enter Website">
                                        <div class="button"> 
                                            <input type="submit" onclick=" return getSite()"value="Is Safe?" class="btn btn-outline-danger" placeholder="Safe?">
                                        </div> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r text-center p-3">
            <p class="display-4" id="result">{{status}}</p>
        </div>
        </div>
</body>
</html>
